<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="ISO-8859-1">
<title>PageSpeed</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	
</head>


<body>

	<div class="container">
		<div class="row">
			<div class="col-md-3"> </div>
			<div class="col-md6">
			
				<h1>RESULTADOS OBTENIDOS</h1>
				<br>
				
				<h2 th:text="${url}"></h2>
				<hr>
				<h3>Speed-Index: <span th:text="${pagina1speedIndex}"></span></h3>
				<h3>Time to interactive: <span th:text="${pagina1interactive}"></span></h3>
				<br>
				<h2 th:text="${urlComparar}"></h2>
				<hr>
				<h3>Speed-Index: <span th:text="${pagina2speedIndex}"></span></h3>
				<h3>Time to interactive: <span th:text="${pagina2interactive}"></span></h3>
				
				<a href='/'><button  class="btn btn-primary">Volver</button></a>
						
			</div>
			<div class="col-md-3"> </div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

</body>

</html>